<section class="page-section pt-4 pb-4">
    <div class="container">
        <h4 class="mb-3">Sorry, I cannot render this term in HTML.</h4>
        <p>{{message}}</p>
        <table class="display table table-sm table-striped table-hover table-responsive" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <td>IRI</td>
                    <td>Type</td>
                </tr>
            </thead>
            <tr>
                <td>{{iri}}</td>
                <td>{{type}}</td>
            </tr>
        </table>
   </div>
</section>
